@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<div>IT Comapny Related Information Related Information</div>

<p>World's Top IT Comapny List's are Here</p>
