@page
@model demoOdeToFood.Pages.Restaurant.RestaurantModel
@{
    ViewData["Title"] = "Top IT Company List";
}

<h1>IT Company List</h1>
<form method="get">
    <div class="form-group">

        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTearm"/>
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class=" glyphicon glyphicon-search"></i>
                </button>
            </span>

        </div>
    </div>

</form>
@foreach (var restaurant in Model.Restaurants)
{
  <partial name="_summary" model="restaurant"/>

}

<a asp-page=".\Edit" class="btn btn-primary">Add New IT Comapny</a>
@section footer{ 

<div>@Model.Message </div>

}